#container{
    width: 413px;
    height: 413px;
    margin: auto;
}

div > div{
    width: 200px;
    height: 200px;
    border: 2px black solid;
    border-radius: 20px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-color: gainsboro grey grey gainsboro;
}

#d1{
    background-color: aquamarine;
    background-image: url("ikony/settings.png");
}

#d2{
    background-color: burlywood;
    background-image: url("ikony/support.png");
}

#d3{
    background-color: palegreen;
    background-image: url("ikony/maintenance.png");
}

#d4{
    background-color: violet;
    background-image: url("ikony/customer-service.png");
}