body{
    background-color: darkgray;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.pic{
    width: 300px;
    height: 250px;
    position: relative;
    background-size: cover;
}

.pic > input{
    background-color: rgba(255,0,0,200);
}