:root{
    --color-primary: #3c3c3c;
    --color-accent: #252526;
    --color-primary-dark: #333333;
    --color-accent-dark: #1e1e1e;
    --color-text: #FFFCFF;
    --color-text-dark: #cfcfcf;
    --color-heart: #d86473;

    --font-main: 'Jaldi', sans-serif;
    --font-header: 'Coda Caption', sans-serif;
    --font-nav: 'Russo One', sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-main);
}

body{
    display: grid;
    grid-template: "header header header" 6em
                   ". main ." auto
                   "footer footer footer" 5em
                   / 1fr minmax(min-content,4fr) 1fr;
    background-color: var(--color-accent-dark);
}

/* Header */

header, footer{
    background-color: var(--color-primary);
}

header{
    grid-area: header;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    color: var(--color-text);
    padding: 0 5vw;
    position: fixed;
    width: 100%;
}

header > h3{
    flex: 1 1 70%;
    font-family: var(--font-header);
}

.signin,
.signup,
.logout{
    display: block;
    padding: 1em 3em;
    flex: 1 0;
    border-radius: 1em;
    white-space: nowrap;
    text-decoration: none;
    transform: scale(1);
    transition: ease-in 200ms;
    text-align: center;
    font-family: var(--font-nav);
}

.logout > input{
    background: none;
    border: none;
    font-size: 1rem;
    font-family: var(--font-nav);
    color: var(--color-text);
    cursor: pointer;
}

.signin:hover,
.signup:hover,
.logout:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: ease-out 200ms;
}

.signup{
    background: var(--color-text);
    color: var(--color-accent-dark);
}

.signin{
    background: var(--color-primary-dark);
    color: var(--color-text);
}

.logout{
    background: var(--color-primary-dark);
    display: none;
}

/* Pop ups */

.popup{
    display: none;
}

.popup > form{
    background-color: var(--color-accent);
    border-radius: 1em;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.popup label{
    position: absolute;
    margin-top: 14em;
    font-size: 3rem;
    cursor: pointer;
}

#btn-login:checked + .popup label{
    margin-top: 10.5em;
}

.popup label:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all ease-out 200ms;
}

.popup > form > input{
    border-radius: 1em;
    font-size: 1.5rem;
    padding: 0.5em 2em;
}

#btn-register{
    display: none;
}

#btn-register-close{
    display: none;
}

#btn-login{
    display: none;
}

#btn-login-close{
    display: none;
}


#btn-register:checked + .popup,
#btn-login:checked + .popup{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Main */

main{
    background-color: var(--color-accent);
    grid-area: main;
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    padding: 1.5em 2em;
}

.postmake{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.postmake > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.postmake > input[type="submit"]{
    font-size: 6rem;
    padding: 0 0.2em;
    background-color: var(--color-primary-dark);
    border-color: var(--color-accent-dark);
    cursor: pointer;
}

.postmake > input[type="submit"]:hover{
    background-color: var(--color-accent);
    transform: scale(1.05);
    transition: all ease-out 80ms;
}

input[name="title"]{
    background-color: var(--color-accent);
    color: var(--color-text);
    border: 2px solid rgba(200, 200, 200, 0.3);
    width: 100%;
    height: 3em;
    text-align: center;
}

#mce{
    min-width: 40em;
    min-height: 10em;
    background-color: var(--color-accent);
    color: var(--color-text);
    padding: 1em;
}

.post_img{
    width: 4em;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.2em solid var(--color-text-dark);
    background-image: url("../profpics/default.png");
    background-size: cover;
}

.post_author{
    font-size: 1.5rem;
    margin-right: 30%;
}

.post_bin,
.post_heart,
.post_edit{
    display: none;
    width: 3em;
    aspect-ratio: 1;
    fill: var(--color-text);
    cursor: pointer;
}

.post_heart{
    fill: var(--color-heart);
}

.post_bin:hover,
.post_heart:hover,
.post_edit:hover{
    transform: scale(1.15);
    transition: 100ms ease-out;
}

.article{
    max-width: 80%;
    min-width: 60%;
    margin: 0 auto;
}

.head{
    display: flex;
    background: var(--color-accent-dark);
    justify-content: space-around;
    align-items: center;
    border-radius: 2em 2em 0 0;
    box-shadow: 0 0 2em 0.05em var(--color-primary-dark);
    color: var(--color-text);
}

.content{
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 2em 2em;
    box-shadow: 0 0.5em 2em 0.05em var(--color-primary-dark);
    padding: 1em 2em 0 2em;
    color: var(--color-text-dark);
}

.post_title{
    margin: 0;
    font-size: 2rem;
}

footer{
    grid-area: footer;
}

@keyframes fade {
    from {opacity: 1; }
    to {opacity: 0; }
}

.error{
    display: none;
    text-align: center;
    line-height: 100vh;
    color: brown;
    font-family: var(--font-nav);
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    font-size: calc(2rem + 1vw);
}